# UAZAPI_BASE_URL: The base URL for the Uazapi service.
UAZAPI_BASE_URL="https://free.uazapi.com"

# UAZAPI_ADMIN_TOKEN: The admin token for Uazapi.
UAZAPI_ADMIN_TOKEN="ZaW1qwTEkuq7Ub1cBUuyMiK5bNSu3nnMQ9lh7klElc2clSRV8t"
